<div class="my-4">
    <span class="font-weight-bold">Edit Data</span>
    <button type="button" class="btn btn-secondary float-right" onclick="setManagementContent('problems');">Back</button>
</div>
<div class="media">
    <a href="#" onclick="addData();"><img src="{{url_for('static',filename='img/add.png')}}" width="24rem"
            height="24rem"></a>
    <span class="font-italic col-md-5 text-center ml-1">Input</span>
    <span class="col-md-5 font-italic text-center ml-2">Output</span>
    <span class="col-md-1 font-italic text-center ml-2">Serial</span>
</div>
<div id="dataList">
    <div class="media mt-2 data" style="display: none;" tag="dataExample">
        <a href="#" class="removeData"><img src="{{url_for('static',filename='img/del.png')}}" class="mt-2 ml-1"
                width="17rem" height="17rem"></a>
        <textarea class="form-control col-md-5 pr-2 ml-2 dataInput" rows="3"></textarea>
        <textarea class="form-control col-md-5 pr-2 ml-2 dataOutput" rows="3"></textarea>
        <label class="col-md-1 pr-2 ml-2 text-center dataSerial"></label>
    </div>
</div>
<button type="button" class="btn btn-success float-right mt-4" onclick="saveDataList({{id_problem}});">Submit</button>
<script>
    function addData(input="",output="") {
        $new = $("[tag='dataExample']").clone(true);
        $new.removeAttr("style");
        $new.removeAttr("tag");
        $new.children("label.dataSerial").text("#"+(getValidCount()+1));
        $new.children("textarea.dataInput").text(input);
        $new.children("textarea.dataOutput").text(output);
        $("#dataList").append($new);
    }

    $(function () {
        $("a.removeData").click(function () {
            $(this).parent().attr("tag", "delete");
            $(this).parent().attr("style", "display:none;");
            serailReset();
        });
        $hasData = false;
        $existingDatas = {{existingDatas | tojson | safe}};
        console.log($existingDatas);
        for ($data of $existingDatas) {
            $hasData = true;
            addData($data["input"], $data["output"])
        }
        console.log($hasData);
        if(!$hasData){
            addData();
        }
    });

    
    function serailReset() {
        $idx = 1;
        $("div.data").each(function () {
            if ($(this).attr("tag") === "dataExample" || $(this).attr("tag") === "delete") {
                return;
            }
            $(this).children("label.dataSerial").text("#"+$idx);
            $idx += 1;
        });
    }

    function getValidCount() {
        $idx = 0;
        $("div.data").each(function () {
            if ($(this).attr("tag") === "dataExample" || $(this).attr("tag") === "delete") {
                return;
            }
            $idx++;
        });
        return $idx;
    }

    function saveDataList(id_problem){
        dataList = []
        $("div.data").each(function () {
            if ($(this).attr("tag") === "dataExample") {
                return ;
            }
            dataList.push({
                "serial":$(this).children("label.dataSerial").text().substr(1),
                "input":$(this).children("textarea.dataInput").val(),
                "output":$(this).children("textarea.dataOutput").val(),
            });
        });
        $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        $.ajax({
            url: $SCRIPT_ROOT+"/admin/saveData",
            type: "POST",
            dataType: 'json',
            data: {
                "id_problem":id_problem,
                "dataList":JSON.stringify(dataList)
            },
            traditional: true,
            complete:function(){
                $.ajax({
                    url: $SCRIPT_ROOT + '/base/showFlash',
                    success: function (response) {
                        $('#showFlash').html(response);
                        $('.toast').toast('show')
                    }
                })
            }
        });
    }
</script>