<div class="my-4">
    <span class="font-weight-bold">Show All Problems</span>
    <button type="button" class="btn btn-success float-right" onclick="createProblem();">Created Problem</button>
</div>
<div class="row customTableTop">
    <div class="col-md-1">
        <span class="font-italic">ProbId</span>
    </div>
    <div class="col-md-4">
        <span class="font-italic">Title</span>
    </div>
    <div class="col-md-2">
        <span class="font-italic">Created By</span>
    </div>
    <div class="col-md-2">
        <span class="font-italic">State</span>
    </div>
    <div class="col-md-3 ml-auto">
        <span class="font-italic">Options</span>
    </div>
</div>
<hr/>
{% for problem in problemList %}
    <div class="row customTableItem">
        <div class="col-md-1">
            <span class="text-muted">#{{problem["id_problem"]}}</span>
        </div>
        <div class="col-md-4">
            <span class="text-muted">{{problem["title"]}}</span>
        </div>
        <div class="col-md-2">
            <span class="text-muted">{{problem["username"]}}</span>
        </div>
        <div class="col-md-2">
            {% if problem["isPublish"] %}
                <span class="badge badge-primary" id="publish_state_{{problem['id_problem']}}">Publish</span>
            {% else %}
                <span class="badge badge-secondary" id="publish_state_{{problem['id_problem']}}">UnPublish</span>
            {% endif %}
        </div>
        <div class="col-md-3 ml-auto">
            <a href="#" class="badge badge-pill badge-info" onclick="showReportDetail({{problem['id_problem']}});">report</a>
            <a href="#" class="badge badge-pill badge-warning" onclick="updateProblem({{problem['id_problem']}});">updateProblem</a>
            <a href="#" class="badge badge-pill badge-warning" onclick="editData({{problem['id_problem']}});">editData</a>
            {% if problem["isPublish"] %}
                <a href="#" class="badge badge-pill badge-danger" id="publish_{{problem['id_problem']}}" onclick="publishProblem({{problem['id_problem']}});" tag="publish">unpublish</a>
            {% else %}
                <a href="#" class="badge badge-pill badge-danger" id="publish_{{problem['id_problem']}}" onclick="publishProblem({{problem['id_problem']}});" tag="unpublish">publish</a>
            {% endif %}
            <a href="#" class="badge badge-pill badge-danger" onclick="deleteProblem({{problem['id_problem']}});">delete</a>
            </div>
    </div>
    <hr class="customTableItemHr"/>
{% endfor%}
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage"),session.get("totalPage"),'/admin/problems',"#managementContent") }}
<div class="modal fade" id="reportDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Problem Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-0 justify-content-center" id="reportDetailContent">
          
        </div>
      </div>
    </div>
  </div>
<script>
    function showReportDetail(proNo){
        $("#reportDetail").modal("show");
        $.ajax({
            url: $SCRIPT_ROOT+"/proDetail/problemReport",
            type: "POST",
            data: {
                "id_problem":proNo,
                "graphType":"statistics"
            },
            beforeSend: function(){
                $.ajax({
                    url: $SCRIPT_ROOT + "/base/loading",
                    type: 'POST',
                    success:function(response){
                        $("#reportDetailContent").html(response);
                    }
                });
            },
            success:function(response){
                $("#reportDetailContent").html(response);
            }
        });
    }
</script>
<script>
    function createProblem(){
        $.ajax({
            url: $SCRIPT_ROOT + "/admin/createProblem",
            type: "POST",
            success: function(response){
                $("#managementContent").html(response);
            }
        });
    }
</script>
<script>
    function updateProblem(problemId){

        $.ajax({
            url: $SCRIPT_ROOT + "/admin/updateProblem",
            type: "POST",
            data:{
                "id_problem":problemId
            },
            success: function(response){
                $("#managementContent").html(response);
            }
        });
    }
    function deleteProblem(problemId){
        $.ajax({
            url:$SCRIPT_ROOT+"/admin/deleteProblem",
            type:"POST",
            data:{
                "id_delete":problemId,
                "isConfirm":"false"
            },            
            success:function(response){
                $("#popUpBox").html(response);
                $("#DeleteComfirm").modal("show");
            },
        });
    }
</script>
<script>
    function editData(problemId){
        $.ajax({
            url: $SCRIPT_ROOT + "/admin/editData",
            type: "POST",
            data:{
                "id_problem":problemId
            },
            success: function(response){
                $("#managementContent").html(response);
            }
        });
    }
</script>
<script>
    function publishProblem(problemId){
        isPublish =  $("#publish_"+problemId).attr("tag") === "publish"?"true":"false";
        $.ajax({
            url: $SCRIPT_ROOT + "/admin/publishProblem",
            type: "POST",
            data:{
                "id_problem":problemId,
                "isPublish":isPublish
            },
            success:function(response){
                if(response["result"] === "failure"){
                    return ;
                }
                if(isPublish === "true"){
                    $("#publish_state_"+problemId).text("Unpublish");
                    $("#publish_state_"+problemId).attr("class","badge badge-secondary");
                    $("#publish_"+problemId).text("publish");
                    $("#publish_"+problemId).attr('tag',"unpublish");
                }else if(isPublish === "false"){
                    $("#publish_state_"+problemId).text("Publish");
                    $("#publish_state_"+problemId).attr("class","badge badge-primary");
                    $("#publish_"+problemId).text("unpublish");
                    $("#publish_"+problemId).attr('tag',"publish");
                }
            },
            complete:function(){
                $.ajax({
                    url: $SCRIPT_ROOT + '/base/showFlash',
                    success: function (response) {
                        $('#showFlash').html(response);
                        $('.toast').toast('show')
                    }
                })
            }
        });
    }
</script>