<div class="my-4">
    <span class="font-weight-bold">Show All Problems</span>
    <button type="button" class="btn btn-success float-right" onclick="showCreatedProblem();">Created Problem</button>
</div>
<div class="row customTableTop">
    <div class="col-md-1">
        <span class="font-italic">ProblemId</span>
    </div>
    <div class="col-md-3">
        <span class="font-italic">Title</span>
    </div>
    <div class="col-md-2">
        <span class="font-italic">Created By</span>
    </div>
    <div class="col-md-2">
        <span class="font-italic">State</span>
    </div>
    <div class="col-md-2 ml-auto">
        <span class="font-italic">Options</span>
    </div>
</div>
<hr/>
{% for problem in problemList %}
    <div class="row customTableItem">
        <div class="col-md-1">
            <span class="text-muted">#{{problem["id_problem"]}}</span>
        </div>
        <div class="col-md-3">
            <span class="text-muted">{{problem["title"]}}</span>
        </div>
        <div class="col-md-2">
            <span class="text-muted">{{problem["username"]}}</span>
        </div>
        <div class="col-md-2">
            <span class="font-weight-light">
                {% if problem["is_publish"] == 1 %}
                    <span class="badge badge-success">Published</span>
                {% else %}
                    <span class="badge badge-secondary">Unpublished</span>
                {% endif %}
            </span>
        </div>
        <div class="col-md-2 ml-auto">
            <a href="#">detail</a>
            <a href="#">report</a>
        </div>
    </div>
    <div class="customTableItemDetail my-4 p-2 border-info rounded shadow" id="problemContent_{{problem['id_problem']}}">
        {% import "macro/loading.html" as ld %}
        {{ ld.loading() }}
    </div>
    <hr class="customTableItemHr"/>
{% endfor%}
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage_problems"),session.get("totalPage_problems"),'/admin/problems',"#managementContent") }}
<script>
    $(function(){
        $(".customTableItemDetail").hide();
    });
    function toggleProblem(id,tag){
        var toHide = true;
        if($("#problemContent_"+id).is(":hidden")){
            getDetail(id,tag);
            toHide = false;
        }else if($("#problemContent_"+id).attr('tag') === undefined || $("#problemContent_"+id).attr('tag') !== tag){
            getDetail(id,tag);
            toHide = false;
        }
        $("#problemContent_"+id).attr('tag',tag);
        if(toHide){
            $("#problemContent_"+id).hide();
        }else{
            $("#problemContent_"+id).show();
        }
        
    }
    function getDetail(id,tag){
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
            url: $SCRIPT_ROOT,
            type:'POST',
            data:{
              "userId":id
            },
            success: function (response) {
                $("#problemContent_"+id).html(response)
                loadFootor();
            }
        });
    }
</script>
<script>
    function showCreatedProblem(){
        $.ajax({
            url: $SCRIPT_ROOT + "/admin/createProblem",
            type: "GET",
            success: function(response){
                $("#managementContent").html(response);
            }
        });
    }
</script>