<div class="my-4">
    <span class="font-weight-bold">Show All Users</span>
</div>
<div class="row customTableTop">
    <div class="col-md-1">
        <span class="font-italic">UserId</span>
    </div>
    <div class="col-md-2">
        <span class="font-italic">Username</span>
    </div>
    <div class="col-md-3">
        <span class="font-italic">Profile</span>
    </div>
    <div class="col-md-3">
        <span class="font-italic">Detail</span>
    </div>
    <div class="col-md-3">
        <span class="font-italic">Report</span>
    </div>
</div>
<hr/>
{% for user in userList %}
    <div class="row customTableItem">
        <div class="col-md-1">
            <span class="text-muted">#{{user["id_user"]}}</span>
        </div>
        <div class="col-md-2">
            <span class="text-muted">{{user["username"]}}</span>
        </div>
        <div class="col-md-3">
            <a href="#" onclick="toggleUser({{user['id_user']}},'profile');"><span class="text-muted"></span>Profile</span></a>
        </div>
        <div class="col-md-3">
            <a href="#" onclick="toggleUser({{user['id_user']}},'detail');"><span class="text-muted"></span>Detail</span></a>
        </div>
        <div class="col-md-3">
            <a href="#" onclick="toggleUser({{user['id_user']}},'report');"><span class="text-muted"></span>Report</span></a>
        </div>
    </div>
    <div class="customTableItemDetail my-4 p-2 border-info rounded shadow" id="userContent_{{user['id_user']}}">
        {% import "macro/loading.html" as ld %}
        {{ ld.loading() }}
    </div>
    <hr class="customTableItemHr"/>
{% endfor%}
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage_users"),session.get("totalPage_users"),'admin.users') }}
<script>
    $(function(){
        $(".customTableItemDetail").hide();
    });
    function toggleUser(id,tag){
        var toHide = true;
        if($("#userContent_"+id).is(":hidden")){
            getDetail(id,tag);
            toHide = false;
        }else if($("#userContent_"+id).attr('tag') === undefined || $("#userContent_"+id).attr('tag') !== tag){
            getDetail(id,tag);
            toHide = false;
        }
        $("#userContent_"+id).attr('tag',tag);
        if(toHide){
            $("#userContent_"+id).hide();
        }else{
            $("#userContent_"+id).show();
        }
        
    }
    function getDetail(id,tag){
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
            url: $SCRIPT_ROOT+'/user/'+tag,
            type:'POST',
            data:{
              "userId":id
            },
            beforeSend: function(){
                $.ajax({
                    url: $SCRIPT_ROOT + "/base/loading",
                    type: 'POST',
                    success:function(response){
                        $("#userContent_"+id).html(response);
                    }
                });
            },
            success: function (response) {
                $("#userContent_"+id).html(response)
                loadFootor();
            }
        });
    }
</script>