{% macro state(id,startTimeStr,endTimeStr) -%}
{% set countdownId = ('contestState_'+id|string) %}
<span id="{{countdownId}}">...</span>
<script>
    (function (id,startTimeStr,endTimeStr){
        var countdown = document.getElementById(id);
        console.log(countdown);
        setInterval(function () {
            var nowTime = new Date();
            var startTime = new Date(startTimeStr);
            var endTime = new Date(endTimeStr);
            startTime.setHours(startTime.getHours()-8);
            endTime.setHours(endTime.getHours() - 8);

            var num_start_end = endTime.getTime() - startTime.getTime();
            if(num_start_end >= 1000*365*24*60*60*1000){
                countdown.setAttribute("class",'badge badge-primary');
                countdown.innerHTML = 'Alway Run';
                return ;
            }

            var num_start_now = startTime.getTime() - nowTime.getTime();
            var num_end_now = endTime.getTime() - nowTime.getTime();

            if(num_start_now > 0){
                countdown.setAttribute("class",'badge badge-secondary');
                countdown.innerHTML = 'Loading';
            }

            if(num_start_now <= 0 && num_end_now > 0){
                countdown.setAttribute("class",'badge badge-success');
                countdown.innerHTML = 'Started';
            }

            if(num_end_now <= 0){
                countdown.setAttribute("class",'badge badge-danger');
                countdown.innerHTML = 'Ended';
                return ;
            }
        }, 1000);
    })({{countdownId|tojson}},{{startTimeStr|tojson}},{{endTimeStr|tojson}});
</script>   
{%- endmacro %}