{% extends 'base.html' %}

{% block title %}Contests{% endblock title %}

{% block extraJs %}
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function() {
    $('a.contest').bind('click', function() {
      var contestId = $(this).attr('contestId');
      console.log(contestId);
      $.ajax({
        url:$SCRIPT_ROOT+"/contests/contestPermission/"+contestId,     
        dataType:"json",                                           
        type:"GET",
        success:function(data){
            if(data["result"] === 'success'){
              $("#contest_title").text(data['title']);
              $("#verify_form").attr($SCRIPT_ROOT+data['nextUrl']);
              $('#contestVerify').modal()
            }
        }
      });
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="card m-4 border-0 shadow">
  <div class="card-body">
    <div class="mb-4">
      <span style="font-size: large;">All Contest</span>
    </div>
    {% if session.get("totalPage_con") != 0 %}
    {% for contest in contestSet %}
    <div class="media">
      {% if contest['is_practice'] != 1 %}
      <img src="{{url_for('static',filename='img/contest.png')}}" class="mt-1 p-1" width="40rem" height="40rem">
      {% else %}
      <img src="{{url_for('static',filename='img/practice.png')}}" class="mt-1 p-1" width="40rem" height="40rem">
      {% endif %}
      <div class="row col-md-12">
        <div class="col-md-10">
          <a class="contest" contestId="{{contest['id_contest']}}" href="#"><span
            style="font-size: large;">{{contest["title"]}}</span></a>
          {% if contest['is_private'] == 1 %}
          <img src="{{url_for('static',filename='img/private.png')}}" class="mb-2" width="16rem" height="16rem">
          {% endif %}<br />
          <img src="{{url_for('static',filename='img/time.png')}}" width="18rem" height="18rem"><span
            style="font-size: small;">{{contest["start_time"].strftime('%Y-%m-%d %H:%M')}}</span>
          &nbsp;&nbsp;<img src="{{url_for('static',filename='img/duration.png')}}" width="15rem" height="15rem">
          <span style="font-size: small;">
            {% import "macro/timeDelta.html" as td %}
            {{ td.duration(contest['start_time'],contest['end_time']) }}
          </span>
        </div>
        <div class="col-md-2">
          <h5 class="align-middle">
            {% import "macro/contestState.html" as cs %}
            {{ cs.state(contest['id_contest'],contest['start_time'],contest['end_time']) }}
            <br />
            <span style="font-size:small;" id="countdown{{loop.index}}_tip">...&nbsp;</span>
            <span class="text-success" style="font-size:small;">
              {% import "macro/countdown.html" as cd %}
              {{ cd.run('countdown'+loop.index|string,contest['start_time'],contest['end_time']) }}
            </span>
          </h5>
        </div>
      </div>
    </div>
    <hr class="mb-3">
    {% endfor %}
    {% import "macro/page.html" as pg %}
    {{ pg.page(session.get("currentPage_con"),session.get("totalPage_con"),'#') }}
    {% endif %}
  </div>
</div>
<div id="contestVerify" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pl-4 pr-4">
        <h5 class="modal-title" id="exampleModalLabel">
          <span id="contest_title"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center p-4">
        <form id="verify_form" method="post">
          <input type="password" class="form-control mt-1 mb-3" name="contest_password"
            placeholder="Please enter this contest's password.">
          <button class="btn btn-success float-right" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}