{% extends 'base.html' %}

{% block title %}Contests{% endblock title %}

{% block extraJs %}
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function() {
    $.ajax({
      url:$SCRIPT_ROOT+"/contests/showContestList", 
      success:function(response){
        $("#contestList").html(response);
      },
      complete:function(){
        contestClick();
      }
    });
  });
  contestClick = function() {
    $('a.contest').bind('click', function() {
      console.log("比赛被点击！");
      var contestId = $(this).attr('id').split('=')[1];
      $.ajax({
        url:$SCRIPT_ROOT+"/contests/contestPermission/"+contestId,     
        dataType:"json",                                           
        type:"GET",
        success:function(data){
            if(data["result"] === 'success'){
              if(data["is_private"] === 1){
                $("#contest_title").text(data['title']);
                $("#verify_form").attr("action",data['nextUrl']+"?"+contestId);
                $('#contestVerify').modal();
              }else if(data["is_private"] === 0){
                $(location).attr('href', data['nextUrl']);
              }
            }
        },
        complete:function(){
          $.ajax({
            url: $SCRIPT_ROOT+'/base/showFlash',
            success: function (response) {
                $('#showFlash').html(response);
                $('.toast').toast('show')
            }
          })
        }
      });
    });
  }
  $(function(){
    $("#verify_form_submit").click(function () {
      var next = $("#verify_form").attr("action").split('?');
      $.ajax({
        url:$SCRIPT_ROOT+next[0],     
        dataType:"json",                                           
        type:"POST",
        data:{
          "contestId":next[1],
          "password":$("#contest_password").val()
        },
        success:function(data){
          if(data["result"] === 'success'){
            $(location).attr('href', data['nextUrl']);
          }else if(data["result"] === 'failure'){
            $('#contestVerify').modal('hide');
          }
        },
        complete:function(){
          $.ajax({
            url: $SCRIPT_ROOT+'/base/showFlash',
            success: function (response) {
                $('#showFlash').html(response);
                $('.toast').toast('show')
            }
          })
        }
      });
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="card m-4 border-0 shadow">
  <div class="card-body">
    <div class="mb-4">
      <span style="font-size: large;">All Contest</span>
    </div>
    <div id="contestList">
      {% import "macro/loading.html" as ld %}
      {{ ld.loading() }}  
    </div>
  </div>
</div>
<div id="contestVerify" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pl-4 pr-4">
        <h5 class="modal-title" id="exampleModalLabel">
          <span id="contest_title"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center p-4">
        <form id="verify_form">
          <input type="password" class="form-control mt-1 mb-3" name="contest_password" id="contest_password"
            placeholder="Please enter this contest's password.">
          <button id="verify_form_submit" class="btn btn-success float-right" type="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}