{% extends 'base.html' %}

{% block title %}Contests{% endblock title %}

{% block content %}
<div class="card m-4 border-0 shadow">
  <div class="card-body">
    {% if session.get("totalPage_con") != 0 %}
        {% for contest in contestSet %}
          <div class="media">
            {% if contest['is_practice'] != 1 %}
            <img src="{{url_for('static',filename='img/contest.png')}}" class="mt-1 p-1" width="40rem" height="40rem">
            {% else %}
            <img src="{{url_for('static',filename='img/practice.png')}}" class="mt-1 p-1" width="40rem" height="40rem">
            {% endif %}
            <div class="row col-md-12">
              <div class="col-md-10">
                <a href="{{url_for('problems.problemSet')}}"><span style="font-size: large;">{{contest["title"]}}</span></a>
                {% if contest['is_private'] == 1 %}
                  <img src="{{url_for('static',filename='img/private.png')}}" class="mb-2" width="16rem" height="16rem">
                {% endif %}<br/>
                <img src="{{url_for('static',filename='img/time.png')}}" width="18rem" height="18rem"><span style="font-size: small;">{{contest["start_time"].strftime('%Y-%m-%d %H:%M')}}</span>
                &nbsp;&nbsp;<img src="{{url_for('static',filename='img/duration.png')}}" width="15rem" height="15rem">
                <span style="font-size: small;">
                  {% import "macro/timeDelta.html" as td %}
                  {{ td.duration(contest['start_time'],contest['end_time']) }}          
                </span>
              </div>
              <div class="col-md-2">
                {% set diff_start = curDatetime - contest['start_time'] %}
                {% if diff_start.days*86400 + diff_start.seconds < 0 %}
                <h5>
                {% else%}
                <h5 class="mt-3">
                {% endif %}
                {% import "macro/contestState.html" as cs %}
                {{ cs.state(curDatetime,contest['start_time'],contest['end_time']) }}
                <br/>
                {% if diff_start.days*86400 + diff_start.seconds < 0 %}
                <span style="font-size:small;">start countdown:</span><span id="time"></span>
                {% endif %}
                </h5>
              </div>
            </div>
          </div>
          <hr class="mb-3">
        {% endfor %}
    {% import "macro/page.html" as pg %}
    {{ pg.page(session.get("currentPage_con"),session.get("totalPage_con"),'#') }}
    {% endif %}
  </div>
</div>
{% endblock %}