{% extends 'base.html' %}

{% block title %}Problems{% endblock title %}

{% block extraJs %}
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$(function(){
		$.ajax({
			url: $SCRIPT_ROOT+'/problems/showContestInfo',
			success: function (response) {
				$('#showContestInfo').html(response);
			}
		})
	});
</script>
{% endblock %}

{% block content %}
<div class="row ml-2 mr-2">
  <div class="col-md-2">
    <div class="card border-0 shadow mb-4">
      <div id="showContestInfo" class="card-body">
        {% import "macro/loading.html" as ld %}
        {{ ld.loading() }}  
      </div>
    </div>
    <div class="nav flex-column nav-pills mb-4 shadow card border-0" role="tablist">
      {% if g.active == 'ProblemSet'%}
      <a class="nav-link active" href="{{url_for('problems.problemSet')}}" role="tab">Problems</a>
      {% else %}
      <a class="nav-link" href="{{url_for('problems.problemSet')}}" role="tab">Problems</a>
      {% endif %}
      {% if g.active == 'Ranklist'%}
        {%if session.get("contestId_pro") == 1 %}
          <a class="nav-link active" href="{{url_for('problems.ranklist')}}" role="tab">Ranklist</a>
        {%else%}
          <a class="nav-link active" href="{{url_for('problems.currentRanklist')}}" role="tab">Ranklist</a>
        {%endif%}
      {% else %}
        {%if session.get("contestId_pro") == 1 %}
          <a class="nav-link" href="{{url_for('problems.ranklist')}}" role="tab">Ranklist</a>
        {%else%}
          <a class="nav-link" href="{{url_for('problems.currentRanklist')}}" role="tab">Ranklist</a>
        {%endif%}
      {% endif %}
      {% if g.active == 'Submissions'%}
      <a class="nav-link active" href="{{url_for('problems.submissions')}}" role="tab">Submissions</a>
      {% else %}
      <a class="nav-link" href="{{url_for('problems.submissions')}}" role="tab">Submissions</a>
      {% endif %}
    </div>
    {% block extraSidebar%}
      {% if g.active == 'ProblemSet'%}
        <script>
        $(function(){
          $.ajax({
            url: $SCRIPT_ROOT+'/problems/showTagList',
            success: function (response) {
              $('#showTagList').html(response);
            }
          })
        });
      </script>
      <div id="showTagList">
      </div>
      {% endif %}
    {% endblock %}
  </div>
  <div class="col-md-10">
    <div class="card border-0 shadow">
      <div class="card-body">
        {% block contest_content %}
          {% if g.active == 'ProblemSet'%}
            <script>
              $(function(){
                $.ajax({
                  url: $SCRIPT_ROOT+'/problems/showProblemList',
                  success: function (response) {
                    $('#showProblemList').html(response);
                  }
                })
              });
            </script>
            <div id="showProblemList">
              {% import "macro/loading.html" as ld %}
              {{ ld.loading() }}  
            </div>
          {% elif g.active == 'Ranklist'%}
            {% if session.get("contestId_pro") == 1 %}
              <script>
                $(function(){
                  $.ajax({
                    url: $SCRIPT_ROOT+'/problems/showRanklist',
                    success: function (response) {
                      $('#showRanklist').html(response);
                    }
                  })
                });
              </script>
            {%else%}
            <script>
              $(function(){
                $.ajax({
                  url: $SCRIPT_ROOT+'/problems/currentRankList',
                  success: function (response) {
                    $('#rankList').html(response);
                  }
                })
              });
            </script>
            {%endif%}
            <div id="showRanklist">
              {% import "macro/loading.html" as ld %}
              {{ ld.loading() }}  
            </div>
          {% elif g.active == 'Submissions'%}
            <script>
              $(function(){
                $.ajax({
                  url: $SCRIPT_ROOT+'/problems/showSubmissionlist',
                  success: function (response) {
                    $('#showSubmissionlist').html(response);
                  }
                })
              });
              function showSubDetail(submmisionId) {
                $.ajax({
                  url: $SCRIPT_ROOT+'/problems/showSubmissionDetail/'+submmisionId,
                  success: function (response) {
                    $('#showSubmissionDetail').html(response);
                    $('#showSubDetail').modal('show');
                  }
                });
              }
          </script>
          <div id="showSubmissionlist">
            {% import "macro/loading.html" as ld %}
            {{ ld.loading() }}  
          </div>
          <div id="showSubmissionDetail"></div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}