<div class="media">
  {% if contestInfo['is_practice'] != 1 %}
  <img src="{{url_for('static',filename='img/contest.png')}}" class="mr-2 mt-2" width="25rem" height="25rem">
  {% else %}
  <img src="{{url_for('static',filename='img/practice.png')}}" class="mr-2 mt-1" width="25rem" height="25rem">
  {% endif %}
  <h5>{{contestInfo["title"]}}</h5>
</div>
<span>Created By:&nbsp;<span class="text-info">{{contestInfo["belong"]}}</span></span><br />
<span>Status:&nbsp;
  {% import "macro/contestState.html" as cs %}
  {{ cs.state(contestInfo['id_contest'],contestInfo['start_time'],contestInfo['end_time']) }}</span><br />
<span id="countdown{{contestInfo['id_contest']}}_tip">...&nbsp;</span>
<span class="text-success" style="font-size:small;">
  {% import "macro/countdown.html" as cd %}
  {{ cd.run('countdown'+contestInfo['id_contest']|string,contestInfo['start_time'],contestInfo['end_time']) }}
</span>
<hr />
<span>Introduction:&nbsp;<span class="text-info">{{contestInfo["introduction"]}}</span></span><br />
{% if contestInfo['id_contest'] != 1 %}
<span>Start Time:&nbsp;<span class="text-info"
    style="font-size: small;">{{contestInfo["start_time"].strftime('%Y-%m-%d %H:%M')}}</span></span><br />
<span>End Time:&nbsp;<span class="text-info"
    style="font-size: small;">{{contestInfo["end_time"].strftime('%Y-%m-%d %H:%M')}}</span></span><br />
{% endif %}