{% extends 'base.html' %}

{% block title %}Problems{% endblock title %}

{% block content %}
<div class="row ml-2 mr-2">
  <div class="col-md-10">
    <div class="card border-0 shadow">
      <!-- <div class="card-header bg-white">
        My OJ Practice
      </div> -->
      <div class="card-body">
        {% import "macro/page.html" as pg %}
        {{ pg.page(session.get("currentPage"),session.get("totalPage"),'problems.problemSet') }}
        <table class="table table-hover border-0">
          <thead>
            <tr>
              <th scope="col">Solved</th>
              <th scope="col">Label</th>
              <th scope="col">Title</th>
              <th scope="col">Radio(AC/ALL)</th>
            </tr>
          </thead>
          <tbody>
            {% for problem in problems %}
            <tr class="tr_link"
              onclick="window.location.href = '../../proDetail/problemDetail/'+{{problem['id_contest_problem']}}">
              <th scope="row"></th>
              <td>{{problem["id_contest_problem"]}}</td>
              <td>{{problem["title"]}}</td>
              <td>
                {%if problem["accepted_count"] == 0%}
                  0%
                {%else%}
                  {{problem["accepted_count"]/problem["submit_count"]}}%
                {%endif%}
                ({{problem["accepted_count"]}}/{{problem["submit_count"]}})
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% import "macro/page.html" as pg %}
        {{ pg.page(session.get("currentPage"),session.get("totalPage"),'problems.problemSet') }}
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card border-0 shadow mb-4">
      <div class="card-body">
         <h5>My-OJ Problem Set</h5>
         <p>Status: <span class="badge badge-primary">Always Run</span></p>
      </div>
    </div>
    <div class="nav flex-column nav-pills mb-4 shadow card border-0" role="tablist">
      <a class="nav-link" href="#" role="tab">Information</a>
      <a class="nav-link active" href="#" role="tab">Problems</a>
      <a class="nav-link" href="#" role="tab">Ranklist</a>
      <a class="nav-link" href="#" role="tab">Submissions</a>
    </div>
    <div class="card border-0 shadow">
      <div class="card-header bg-white">
        Tags
      </div>
      <div class="card-body">
        <span class="badge badge-pill badge-primary">Math</span>
        <span class="badge badge-pill badge-secondary">Tree</span>
        <span class="badge badge-pill badge-success">Dp</span>
        <span class="badge badge-pill badge-danger">Greed</span>
        <span class="badge badge-pill badge-warning">Graph</span>
        <span class="badge badge-pill badge-info">Info</span>
        <span class="badge badge-pill badge-light">Light</span>
        <span class="badge badge-pill badge-dark">Dark</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}