<table class="table table-hover border-0">
  <thead class="text-black-50">
    <tr>
      <td scope="col">Rank List</td>
      <td scope="col">User</td>
      <td scope="col">Accepted</td>
    </tr>
  </thead>
  <tbody>
    {% if session.get("totalPage_rank") != 0 %}
    {% for rankItem in ranklist %}
    <tr>
      <td scope="row">{{loop.index}}</td>
      <td><a href="#">{{rankItem["username"]}}</a></td>
      <td>{{rankItem["cnt"]}}</td>
    </tr>
    {% endfor %}
    {%else%}
    <tr>
      <td scope="row">-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage_rank"),session.get("totalPage_rank"),'#') }}

