{% extends 'base.html' %}

{% block title %}Ranklist{% endblock title %}

{% block content %}
<div class="row ml-2 mr-2">
  <div class="col-md-10">
    <div class="card border-0 shadow">
      <div class="card-body">
        <table class="table table-hover border-0">
          <thead>
            <tr>
              <th scope="col">Rank List</th>
              <th scope="col">User</th>
              <th scope="col">Accepted</th>
            </tr>
          </thead>
          <tbody>
            {% for rankItem in ranklist %}
            <tr>
              <td scope="row">{{loop.index}}</td>
              <td><a href="#">{{rankItem["username"]}}</a></td>
              <td>{{rankItem["cnt"]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% import "macro/page.html" as pg %}
        {{ pg.page(session.get("currentPage_rank"),session.get("totalPage_rank"),'#') }}
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card border-0 shadow mb-4">
      <div class="card-body">
         <h5>{{contestInfo["title"]}}</h5>
         Status:&nbsp;<span class="badge badge-primary">Always Run</span><br/>
         Created By:&nbsp;<span>{{contestInfo["belong"]}}</span><br/>
      </div>
    </div>
    <div class="nav flex-column nav-pills mb-4 shadow card border-0" role="tablist">
      <a class="nav-link" href="{{url_for('problems.problemSet')}}" role="tab">Problems</a>
      <a class="nav-link active" href="#" role="tab">Ranklist</a>
      <a class="nav-link" href="{{url_for('problems.submissions')}}" role="tab">Submissions</a>
    </div>
  </div>
</div>
{% endblock %}