{% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block content %}
<div class="jumbotron m-4 shadow">
  <h1 class="display-4">Welcome To The My-Online-judge</h1>
  <p class="lead">
    This is a my online-judge website , Here you can train your algorithms and improve your logical thinking ability .
    <br />From now on, take action to become stronger !
  </p>
  <hr class="my-4">
  <p>In the home page, you can learn the following information .</p>
  <a class="btn btn-outline-success" href="#News" role="button">News</a>
  <a class="btn btn-outline-success" href="#FAQ" role="button">Frequently Asked Questions</a>
</div>
<div class="card m-4 border-0 shadow" id="News" name="News">
  <div class="card-header bg-white">
    News
  </div>
  <div class="card-body">
  </div>
</div>
<div class="card m-4 border-0 shadow" id="FAQ" name="FAQ">
  <div class="card-header bg-white">
    Frequently Asked Questions
  </div>
  <div class="card-body">
    <p>
      <a class="btn btn-outline-success" data-toggle="collapse" href="#IO" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        About Input and Output
      </a>
      <a class="btn btn-outline-success" data-toggle="collapse" href="#AC" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        About Compilers
      </a>
      <a class="btn btn-outline-success" data-toggle="collapse" href="#AJR" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        About Judge Reply
      </a>
      <a class="btn btn-outline-success" data-toggle="collapse" href="#AJ" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        About Java
      </a>
    </p>
    <div class="collapse show" id="IO" data-parent="#FAQ">
      <div class="card card-body">
        <h4>where is the input and output?</h4>
        <p>Your program shall read input from stdin('Standard Input') and write output to stdout('Standard Output').For
          example,you can use 'scanf' in C or 'cin' in C++ to read from stdin,and use 'printf' in C or 'cout' in C++ to
          write to stdout.
          User programs are not allowed to open and read from/write to files, you will get a "Runtime Error" if you try
          to
          do so.</p>
        <p>Here is a sample solution for problem 1001 using C++:</p>
        <div class="highlight_code">
<pre><span></span><span class="lineno">1 </span><span class="cp">#include</span> <span class="cpf">&lt;iostream&gt;</span><span class="cp"></span>
<span class="lineno">2 </span><span class="k">using</span> <span class="k">namespace</span> <span class="n">std</span><span class="p">;</span>
<span class="lineno">3 </span>
<span class="lineno">4 </span><span class="kt">int</span> <span class="nf">main</span><span class="p">()</span>
<span class="lineno">5 </span><span class="p">{</span>
<span class="lineno">6 </span>    <span class="kt">int</span> <span class="n">a</span><span class="p">,</span><span class="n">b</span><span class="p">;</span>
<span class="lineno">7 </span>    <span class="k">while</span><span class="p">(</span><span class="n">cin</span> <span class="o">&gt;&gt;</span> <span class="n">a</span> <span class="o">&gt;&gt;</span> <span class="n">b</span><span class="p">)</span>
<span class="lineno">8 </span>        <span class="n">cout</span> <span class="o">&lt;&lt;</span> <span class="n">a</span><span class="o">+</span><span class="n">b</span> <span class="o">&lt;&lt;</span> <span class="n">endl</span><span class="p">;</span>
<span class="lineno">9 </span><span class="p">}</span>
</pre>
        </div>
        <p>Here is a sample solution for problem 1001 using C:</p>
        <div class="highlight_code">
<pre><span></span><span class="lineno">1 </span><span class="cp">#include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp"></span>
<span class="lineno">2 </span>
<span class="lineno">3 </span><span class="kt">int</span> <span class="nf">main</span><span class="p">()</span>
<span class="lineno">4 </span><span class="p">{</span>
<span class="lineno">5 </span>    <span class="kt">int</span> <span class="n">a</span><span class="p">,</span><span class="n">b</span><span class="p">;</span>
<span class="lineno">6 </span>    <span class="k">while</span><span class="p">(</span><span class="n">scanf</span><span class="p">(</span><span
class="s">&quot;%d %d&quot;</span><span class="p">,</span><span class="o">&amp;</span><span class="n">a</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">b</span><span class="p">)</span> <span class="o">!=</span> <span class="n">EOF</span><span class="p">)</span>
<span class="lineno">7 </span>        <span class="n">printf</span><span class="p">(</span><span class="s">&quot;%d</span><span class="se">\n</span><span class="s">&quot;</span><span class="p">,</span><span class="n">a</span><span class="o">+</span><span class="n">b</span><span class="p">);</span>
<span class="lineno">8 </span>    <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="lineno">9 </span><span class="p">}</span>
</pre>
        </div>
        <p>Here is a sample solution for problem 1001 using Java:</p>
        <div class="highlight_code">
<pre><span></span><span class="lineno"> 1 </span><span class="kn">import</span> <span class="nn">java.util.Scanner</span><span class="p">;</span>
<span class="lineno"> 2 </span>
<span class="lineno"> 3 </span><span class="kd">public</span> <span class="kd">class</span> <span class="nc">Main</span> <span class="p">{</span>
<span class="lineno"> 4 </span>        <span class="kd">public</span> <span class="kd">static</span> <span class="kt">void</span> <span class="nf">main</span><span class="p">(</span><span class="n">String</span><span class="o">[]</span> <span class="n">args</span><span class="p">)</span> <span class="p">{</span>
<span class="lineno"> 5 </span>                <span class="n">Scanner</span> <span class="n">in</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Scanner</span><span class="p">(</span><span class="n">System</span><span class="p">.</span><span class="na">in</span><span class="p">);</span>
<span class="lineno"> 6 </span>                <span class="k">while</span> <span class="p">(</span><span class="n">in</span><span class="p">.</span><span class="na">hasNextInt</span><span class="p">())</span> <span class="p">{</span>
<span class="lineno"> 7 </span>                        <span class="kt">int</span> <span class="n">a</span> <span class="o">=</span> <span class="n">in</span><span class="p">.</span><span class="na">nextInt</span><span class="p">();</span>
<span class="lineno"> 8 </span>                        <span class="kt">int</span> <span class="n">b</span> <span class="o">=</span> <span class="n">in</span><span class="p">.</span><span class="na">nextInt</span><span class="p">();</span>
<span class="lineno"> 9 </span>                        <span class="n">System</span><span class="p">.</span><span class="na">out</span><span class="p">.</span><span class="na">println</span><span class="p">(</span><span class="n">a</span> <span class="o">+</span> <span class="n">b</span><span class="p">);</span>
<span class="lineno">10 </span>                <span class="p">}</span>
<span class="lineno">11 </span>        <span class="p">}</span>
<span class="lineno">12 </span><span class="p">}</span>
</pre>
        </div>
        <p>Here is a sample solution for problem 1001 using Python2:</p>
        <div class="highlight_code">
<pre><span></span><span class="lineno">1 </span><span class="kn">import</span> <span class="nn">sys</span>
<span class="lineno">2 </span><span class="k">for</span> <span class="n">line</span> <span class="ow">in</span> <span class="n">sys</span><span
class="o">.</span><span class="n">stdin</span><span class="p">:</span>
<span class="lineno">3 </span>    <span class="n">a</span> <span class="o">=</span> <span class="n">line</span><span class="o">.</span><span class="n">split</span><span class="p">()</span>
<span class="lineno">4 </span>    <span class="nb">print</span> <span class="nb">int</span><span class="p">(</span><span class="n">a</span><span class="p">[</span><span class="mi">0</span><span class="p">])</span> <span class="o">+</span> <span class="nb">int</span><span class="p">(</span><span class="n">a</span><span class="p">[</span><span class="mi">1</span><span class="p">])</span>
</pre>
        </div>
        <p>Here is a sample solution for problem 1001 using Python3:</p>
        <div class="highlight_code">
<pre><span></span><span class="lineno">1 </span><span class="kn">import</span> <span class="nn">sys</span>
<span class="lineno">2 </span><span class="k">for</span> <span class="n">line</span> <span class="ow">in</span> <span class="n">sys</span><span
class="o">.</span><span class="n">stdin</span><span class="p">:</span>
<span class="lineno">3 </span>    <span class="n">a</span> <span class="o">=</span> <span class="n">line</span><span class="o">.</span><span class="n">split</span><span class="p">()</span>
<span class="lineno">4 </span>    <span class="k">print</span><span class="p">(</span><span class="nb">int</span><span class="p">(</span><span class="n">a</span><span class="p">[</span><span class="mi">0</span><span class="p">])</span> <span class="o">+</span> <span class="nb">int</span><span class="p">(</span><span class="n">a</span><span class="p">[</span><span class="mi">1</span><span class="p">]))</span>
</pre>
        </div>
      </div>
    </div>
    <div class="collapse" id="AC" data-parent="#FAQ">
      <div class="card card-body">
        <h4>What is the compiler the judge is using and what are the compiler options?</h4>
        <p>The online judge system is running on Linux. We are using GNU GCC/G++ for C/C++, Free Pascal for Pascal and
          OpenJDK 1.8 for Java. The supported compilers and the compiling options are listed in the following table.</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Compiler</th>
                <th scope="col">Version</th>
                <th scope="col">Compiler commands</th>
              </tr>
            </thead>
            <tbody>
            {% for info in compileInfo %}
                <tr>
                  <td>{{info["name_language"]}}</td>
                  <td>{{info["version"]}}</td>
                  <td>{{info["cmd"]}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    <div class="collapse" id="AJR" data-parent="#FAQ">
      <div class="card card-body">
        <h4>About Judge Reply</h4>
        <p>What is the meaning of the judge's reply XXXXX?</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Judge Reply</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
          {% for rd in resultsDes %}
              <tr>
                <td>{{rd["name_result"]}}</td>
                <td>{{rd["description"]}}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="collapse" id="AJ" data-parent="#FAQ">
      <div class="card card-body">
        <h4>Which Java classes can I use?</h4>
        <p>You can only use classes in those packages: java.lang, java.io, java.nio, java.math, java.util, java.text and
          java.net. You are not allowed to catch any Error in your try-catch, read, write or create any file, or create
          Socket, etc. In one word, don't do anything other than solving the problem.</p>
        <hr class="my-4">
        <h4>How to submit a Java solution?</h4>
        <p>See the sample solution above. Basically you should submit a single source file which contains a public class
          Main and it should have a method with signature public static void main(String[] args) which is the entry of
          your program.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}