{% extends 'base.html' %}

{% block title %}home{% endblock title %}
{% block extraJs %}
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function(){
    $.ajax({
      url:$SCRIPT_ROOT+"/showIO", 
      success:function(response){
        $("#showIO").html(response);
      }
    });
  });
  function setFAQ(faq){
    var idList = new Array('IO','AC','AJR','AJ');
    for(var id of idList){
      if(id === faq){
        $("a#"+id).attr('class',"btn btn-success");
      }else{
        $("a#"+id).attr('class',"btn btn-outline-success");
      }
    }
    $.ajax({
      url:$SCRIPT_ROOT+"/show"+faq, 
      success:function(response){
        $("#show"+faq).html(response);
      }
    });
  }
</script>
{% endblock %}

{% block content %}
<div class="jumbotron m-4 shadow">
  <h1 class="display-4">Welcome To The My-Online-judge</h1>
  <p class="lead">
    This is a my online-judge website , Here you can train your algorithms and improve your logical thinking ability .
    <br />From now on, take action to become stronger !
  </p>
  <hr class="my-4">
  <p>In the home page, you can learn the following information .</p>
  <a class="btn btn-outline-success" href="#News" role="button">News</a>
  <a class="btn btn-outline-success" href="#FAQ" role="button">Frequently Asked Questions</a>
</div>
<div class="card m-4 border-0 shadow" id="News" name="News">
  <div class="card-header bg-white">
    News
  </div>
  <div class="card-body">
  </div>
</div>
<div class="card mx-4 mt-4 border-0 shadow" id="FAQ" name="FAQ">
  <div class="card-header bg-white">
    Frequently Asked Questions
  </div>
  <div class="card-body">
    <p>
      <a class="btn btn-success" data-toggle="collapse" href="#IO" role="button" id="IO" onclick="setFAQ('IO');">
        About Input and Output
      </a>
      <a class="btn btn-outline-success" data-toggle="collapse" href="#AC" role="button" id="AC" onclick="setFAQ('AC');">
        About Compilers
      </a>
      <a class="btn btn-outline-success" data-toggle="collapse" href="#AJR" role="button" id="AJR" onclick="setFAQ('AJR');">
        About Judge Reply
      </a>
      <a class="btn btn-outline-success" data-toggle="collapse" href="#AJ" role="button" id="AJ" onclick="setFAQ('AJ');">
        About Java
      </a>
    </p>
    <div class="collapse show" id="IO" data-parent="#FAQ">
      <div class="card card-body">
        <div id="showIO">
          {% import "macro/loading.html" as ld %}
          {{ ld.loading() }}  
        </div>
      </div>
    </div>
    <div class="collapse" id="AC" data-parent="#FAQ">
      <div class="card card-body">
        <div id="showAC">
          {% import "macro/loading.html" as ld %}
          {{ ld.loading() }}  
        </div>
      </div>
    </div>
    <div class="collapse" id="AJR" data-parent="#FAQ">
      <div class="card card-body">
        <div id="showAJR">
          {% import "macro/loading.html" as ld %}
          {{ ld.loading() }}  
        </div>
      </div>
    </div>
    <div class="collapse" id="AJ" data-parent="#FAQ">
      <div class="card card-body">
        <div id="showAJ">
          {% import "macro/loading.html" as ld %}
          {{ ld.loading() }}  
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}