<h4>Which Java classes can I use?</h4>
<p>You can only use classes in those packages: java.lang, java.io, java.nio, java.math, java.util, java.text and
  java.net. You are not allowed to catch any Error in your try-catch, read, write or create any file, or create
  Socket, etc. In one word, don't do anything other than solving the problem.</p>
<hr class="my-4">
<h4>How to submit a Java solution?</h4>
<p>See the sample solution above. Basically you should submit a single source file which contains a public class
  Main and it should have a method with signature public static void main(String[] args) which is the entry of
  your program.</p>