{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="card m-4 border-0 shadow">
  <div class="card-header bg-white">
      User Register
  </div>
  <div class="card-body">
  <form method="post">
    <label>Username:</label>
    <input type="text" class="form-control mt-1 mb-3" name="username" placeholder="Please enter your username.">
    <label>Password:</label>
    <input type="password" class="form-control mt-1 mb-3" name="password" placeholder="Please enter your password.">
    <label>Confirm Password:</label>
    <input type="password" class="form-control mt-1 mb-3" name="confirm_password" placeholder="Please enter your password again.">
    <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}