<!doctype html>
<title>{% block title %}{% endblock title %} - MyOJ</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
{% endblock %}
{% from 'bootstrap/nav.html' import render_nav_item %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="row">
		<div class="col-3">
			<div class="navbar-nav mr-auto">
				{{ render_nav_item('home.index', 'My Online judge') }}
			</div>
		</div>
		<div class="col-6">
			<div class="navbar-nav mr-auto">
				{{ render_nav_item('home.index', 'Home') }}
				{{ render_nav_item('auth.register', 'Problems') }}
				{{ render_nav_item('auth.register', 'Contests') }}
				{{ render_nav_item('auth.register', 'Status') }}
				{{ render_nav_item('auth.register', 'About') }}
			</div>
		</div>
		<div class="col-3">
			<div class="navbar-nav mr-auto">
				{% if g.user %}
				{{ g.user['username'] }}
				{{ render_nav_item('auth.logout', 'LogOut') }}
				{% else %}
				{{ render_nav_item('auth.register', 'Register') }}
				{{ render_nav_item('auth.login', 'Login') }}
				{% endif %}
			</div>
		</div>
	</div>
</nav>
<!-- <nav>
	<h1>My Online judge</h1>
	<ul>
		<li><span><a href="{{url_for('home.index')}}">Home</a></span></li>
		<li><span><a>Problems</a></span></li>
		<li><span><a>Contests</a></span></li>
		<li><span><a>Status</a></span></li>
		<li><span><a>About</a></span></li>
	</ul>
	<ul>
		{% if g.user %}
		<li><span>{{ g.user['username'] }}</span></li>
		<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
		{% else %}
		<li><a href="{{ url_for('auth.register') }}">Register</a></li>
		<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
		{% endif %}
	</ul>
</nav> -->
<section class="content">
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
	{% block scripts %}
	<!-- Optional JavaScript -->
	{{ bootstrap.load_js() }}
	{% endblock %}
</section>