<!doctype html>
<title>{% block title %}{% endblock title %} - MyOJ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='codeHighlight.css') }}">
{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
{% endblock %}
{% from 'bootstrap/nav.html' import render_nav_item %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="row">
		<div class="navbar-nav navbar-expand-lg navbar-light bg-light ml-3">
			{{ render_nav_item('home.index', 'My Online judge') }}
			{{ render_nav_item('home.index', 'Home') }}
			{{ render_nav_item('problems.problemSet', 'Problems') }}
			{{ render_nav_item('auth.register', 'Contests') }}
			{{ render_nav_item('auth.register', 'Status') }}
			{{ render_nav_item('auth.register', 'About') }}

			{% if g.user %}
			{{ g.user['username'] }}
			{{ render_nav_item('auth.logout', 'LogOut') }}
			{% else %}
			{{ render_nav_item('auth.register', 'Register') }}
			{{ render_nav_item('auth.login', 'Login') }}
			{% endif %}
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
<section class="content">
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
	{% block scripts %}
	<!-- Optional JavaScript -->
	{{ bootstrap.load_js() }}
	{% endblock %}
</section>