{% extends 'base.html' %}

{% block title %}Problems{% endblock title %}

{% block content %}
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div class="row ml-2 mr-2">
  <div class="col-md-2">
    <div class="card border-0 shadow mb-4">
      <div class="card-body">
        <div class="media">
          {% if contestInfo['is_practice'] != 1 %}
          <img src="{{url_for('static',filename='img/contest.png')}}" class="mr-2 mt-2" width="25rem" height="25rem">
          {% else %}
          <img src="{{url_for('static',filename='img/practice.png')}}" class="mr-2 mt-1" width="25rem" height="25rem">
          {% endif %}
          <h5>{{contestInfo["title"]}}</h5>
        </div>
        <span>Created By:&nbsp;<span class="text-info">{{contestInfo["belong"]}}</span></span><br />
        <span>Status:&nbsp;
          {% import "macro/contestState.html" as cs %}
          {{ cs.state(contestInfo['id_contest'],contestInfo['start_time'],contestInfo['end_time']) }}</span><br />
        <span id="countdown{{contestInfo['id_contest']}}_tip">...&nbsp;</span>
        <span class="text-success" style="font-size:small;">
          {% import "macro/countdown.html" as cd %}
          {{ cd.run('countdown'+contestInfo['id_contest']|string,contestInfo['start_time'],contestInfo['end_time']) }}
        </span>
        <hr />
        <span>Introduction:&nbsp;<span class="text-info">{{contestInfo["introduction"]}}</span></span><br />
        {% if contestInfo['id_contest'] != 1 %}
        <span>Start Time:&nbsp;<span class="text-info"
            style="font-size: small;">{{contestInfo["start_time"].strftime('%Y-%m-%d %H:%M')}}</span></span><br />
        <span>End Time:&nbsp;<span class="text-info"
            style="font-size: small;">{{contestInfo["end_time"].strftime('%Y-%m-%d %H:%M')}}</span></span><br />
        {% endif %}
      </div>
    </div>
    <div class="nav flex-column nav-pills mb-4 shadow card border-0" role="tablist">
      {% if g.active == 'ProblemSet'%}
      <a class="nav-link active" href="{{url_for('contestDetail.problemSet')}}" role="tab">Problems</a>
      {% else %}
      <a class="nav-link" href="{{url_for('contestDetail.problemSet')}}" role="tab">Problems</a>
      {% endif %}
      {% if g.active == 'Ranklist'%}
        {%if session.get("contestId_pro") == 1 %}
          <a class="nav-link active" href="{{url_for('contestDetail.ranklist')}}" role="tab">Ranklist</a>
        {%else%}
          <a class="nav-link active" href="{{url_for('contestDetail.currentRanklist')}}" role="tab">Ranklist</a>
        {%endif%}
      {% else %}
        {%if session.get("contestId_pro") == 1 %}
          <a class="nav-link" href="{{url_for('contestDetail.ranklist')}}" role="tab">Ranklist</a>
        {%else%}
          <a class="nav-link" href="{{url_for('contestDetail.currentRanklist')}}" role="tab">Ranklist</a>
        {%endif%}
      {% endif %}
      {% if g.active == 'Submissions'%}
      <a class="nav-link active" href="{{url_for('contestDetail.submissions')}}" role="tab">Submissions</a>
      {% else %}
      <a class="nav-link" href="{{url_for('contestDetail.submissions')}}" role="tab">Submissions</a>
      {% endif %}
    </div>
    {% block extraSidebar%}
      {% if g.active == 'ProblemSet'%}
        <script>
        $(function(){
          $.ajax({
            url: $SCRIPT_ROOT+'/contestDetail/showTagList',
            success: function (response) {
              $('#showTagList').html(response);
              loadFootor();
            }
          })
        });
      </script>
      <div id="showTagList">
      </div>
      {% endif %}
    {% endblock %}
  </div>
  <div class="col-md-10">
    <div class="card border-0 shadow">
      <div class="card-body">
        {% block contest_content %}
          {% if g.active == 'ProblemSet'%}
            <script>
              $(function(){
                $.ajax({
                  url: $SCRIPT_ROOT+'/contestDetail/showProblemList',
                  success: function (response) {
                    $('#showProblemList').html(response);
                    loadFootor();
                  }
                })
              });
            </script>
            <div id="showProblemList">
              {% import "macro/loading.html" as ld %}
              {{ ld.loading() }}  
            </div>
          {% elif g.active == 'Ranklist'%}
            {% if session.get("contestId_pro") == 1 %}
              <script>
                $(function(){
                  $.ajax({
                    url: $SCRIPT_ROOT+'/contestDetail/showRanklist',
                    success: function (response) {
                      $('#showRanklist').html(response);
                      loadFootor();
                    }
                  })
                });
              </script>
            {%else%}
            <script>
              $(function(){
                $.ajax({
                  url: $SCRIPT_ROOT+'/contestDetail/showCurRanklist',
                  success: function (response) {
                    $('#showRanklist').html(response);
                    loadFootor();
                  }
                })
              });
            </script>
            {%endif%}
            <div id="showRanklist">
              {% import "macro/loading.html" as ld %}
              {{ ld.loading() }}  
            </div>
          {% elif g.active == 'Submissions'%}
            <script>
              $(function(){
                $.ajax({
                  url: $SCRIPT_ROOT+'/contestDetail/showSubmissionlist',
                  success: function (response) {
                    $('#showSubmissionlist').html(response);
                    loadFootor();
                  }
                })
              });
              function showSubDetail(submmisionId) {
                $.ajax({
                  url: $SCRIPT_ROOT+'/contestDetail/showSubmissionDetail/'+submmisionId,
                  success: function (response) {
                    $('#showSubmissionDetail').html(response);
                    $('#showSubDetail').modal('show');
                    loadFootor();
                  }
                });
              }
          </script>
          <div id="showSubmissionlist">
            {% import "macro/loading.html" as ld %}
            {{ ld.loading() }}  
          </div>
          <div id="showSubmissionDetail"></div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}