<table class="table table-hover border-0">
    <thead class="text-black-50">
        <tr>
            <td scope="col">Solved</td>
            <td scope="col">Label</td>
            <td scope="col">Title</td>
            <td scope="col">Radio(AC/ALL)</td>
        </tr>
    </thead>
    <tbody>
        {% if session.get("totalPage_pro") != 0 %}
        {% for problem in problems %}
        <tr class="tr_link"
            onclick="window.location.href = '../../proDetail/problemDetail/'+{{problem['id_contest_problem']}}">
            <th scope="row"></th>
            <td>{{problem["serial"]}}</td>
            <td>{{problem["title"]}}</td>
            <td>
                {%if problem["accepted_count"] == 0%}
                0%
                {%else%}
                {{problem["accepted_count"]/problem["submit_count"]}}%
                {%endif%}
                ({{problem["accepted_count"]}}/{{problem["submit_count"]}})
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage"),session.get("totalPage"),'/contestDetail/showProblemList','#contestContent') }}