<div class="row">
  <div class="col-md-4">
    <span class="font-italic">Rank List</span>
  </div>
  <div class="col-md-4">
    <span class="font-italic">User</span>
  </div>
  <div class="col-md-4">
    <span class="font-italic">Accepted</span>
  </div>
</div>
<hr />
{% for rankItem in ranklist %}
<div class="row">
  <div class="col-md-4">
    <span class="text-muted">{{loop.index}}</span>
  </div>
  <div class="col-md-4">
    <span class="text-muted">{{rankItem["username"]}}</span>
  </div>
  <div class="col-md-4">
    <span class="text-muted">{{rankItem["cnt"]}}</span>
  </div>
</div>
<hr />
{% endfor %}
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage"),session.get("totalPage"),'/contestDetail/showRanklist','#contestContent') }}