<div class="row">
  <div class="col-md-1">
    <span class="font-italic">Run ID</span>
  </div>
  <div class="col-md-2">
    <span class="font-italic">Submit Time</span>
  </div>
  <div class="col-md-2">
    <span class="font-italic">Judge State</span>
  </div>
  <div class="col-md-1">
    <span class="font-italic">Problem</span>
  </div>
  <div class="col-md-1">
    <span class="font-italic">Language</span>
  </div>
  <div class="col-md-2">
    <span class="font-italic">Run time(ms)</span>
  </div>
  <div class="col-md-2">
    <span class="font-italic">Run Memory(kb)</span>
  </div>
  <div class="col-md-1">
    <span class="font-italic">User</span>
  </div>
</div>
<hr/>

{% for submission in submissions %}
<div class="row">
  <div class="col-md-1">
    <span class="text-muted">
      <a href="#" onclick="showSubDetail({{submission['id_solution']}});">#{{submission["id_solution"]}}</a>
    </span>
  </div>
  <div class="col-md-2">
    <span class="text-muted">{{submission["submit_time"]}}</span>
  </div>
  <div class="col-md-2">
    <span class="text-muted">
      {% import "macro/judgeState.html" as state %}
      {{state.show(submission["judge_status"])}}
    </span>
  </div>
  <div class="col-md-1">
    <span class="text-muted">
      <a href="{{url_for('proDetail.problemDetail',proNo=submission['id_contest_problem'])}}">
        {{submission["id_problem"]}}
      </a>
  </span>
  </div>
  <div class="col-md-1">
    <span class="text-muted">{{submission["name_language"]}}</span>
  </div>
  <div class="col-md-2">
    <span class="text-muted">{{submission["run_time"]}}</span>
  </div>
  <div class="col-md-2">
    <span class="text-muted">{{submission["run_memory"]}}</span>
  </div>
  <div class="col-md-1">
    <span class="text-muted">
      <a href="{{url_for('user.userIndex',userId = submission['id_user'])}}">
        {{submission["username"]}}
      </a>
    </span>
  </div>
</div>
<hr/>
{% endfor %}
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage"),session.get("totalPage"),'/contestDetail/showSubmissionList','#contestContent') }}
<script>
  function showSubDetail(idSolution){
    $.ajax({
      url:$SCRIPT_ROOT+"/contestDetail/showSubmissionDetail/"+idSolution,
      type:'GET',
      success:function(response){
        $("#popUpBox").html(response);
        $("#showSubDetail").modal("show");
      }
    });
  }
</script>