<table class="table table-hover border-0">
  <thead class="text-black-50">
    <tr>
      <td scope="col">Run ID</td>
      <td scope="col">Submit Time</td>
      <td scope="col">Judge Status</td>
      <td scope="col">Problem</td>
      <td scope="col">Language</td>
      <td scope="col">Run time(ms)</td>
      <td scope="col">Run Memory(kb)</td>
      <td scope="col">User</td>
    </tr>
  </thead>
  <tbody>
      {% if session.get("totalPage_sub") != 0 %}
      {% for submission in submissions %}
      <tr class="tr_link" onclick="showSubDetail({{submission['id_solution']}});">
        <td>#{{submission["id_solution"]}}</td>
        <td>{{submission["submit_time"]}}</td>
        <td>{{submission["judge_status"]}}</td>
        <td>{{submission["id_problem"]}}
        </td>
        <td>{{submission["name_language"]}}</td>
        <td>{{submission["run_time"]}}</td>
        <td>{{submission["run_memory"]}}</td>
        <td>{{submission["username"]}}</td>
      </tr>
      {% endfor %}
      {% endif %}
  </tbody>
</table>
{% import "macro/page.html" as pg %}
{{ pg.page(session.get("currentPage"),session.get("totalPage"),'/contestDetail/showSubmissionList','#contestContent') }}
<script>
  function showSubDetail(idSolution){
    $.ajax({
      url:$SCRIPT_ROOT+"/contestDetail/showSubmissionDetail/"+idSolution,
      type:'GET',
      success:function(response){
        $("#popUpBox").html(response);
        $("#showSubDetail").modal("show");
      }
    });
  }
</script>